<div class="container" >
    <div class="row">
      <div class="col-6 col-md-6 col-sm-12 col-xsm-12" style="padding: 5%;">
        <div class="row">
          <h2>Canasta basica 1</h2>
          <div class="form-group">
            <label>Nombre del producto</label>
            <input #nameProduc1 id="nameProduc1" formControlName="nombre" class="form-control">
          </div>
        </div>
        <span>{{msjVacio}}</span>
        <div #containerProduct1 id="containerProduct1">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre del producto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pro of basicBasketDataSource1Array">
                <td>{{pro}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" style="margin-top: 10%;">
          <div class="col-6 ">
            <button (click)="onClickAddBasicBasket()" class="btn btn-success">Agregar a la canasta 1</button>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-sm-12 col-xsm-12" style="padding: 5%;">
        <div class="row">
          <h2>Canasta basica 2</h2>
          <div class="form-group">
            <label>Nombre del producto</label>
            <input #nameProduc2 id="nombreProducCanas2"  class="form-control">
          </div>
          <span>{{msjVacio2}}</span>
        </div>
        <div #containerProduct2 id="containerProduct2">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre del producto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pro of miFuenteDeDatos">
                <td>{{pro}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" style="margin-top: 10%;">
          <div class="col-6">
            <button (click)="onClickAddCanasta2()" class="btn btn-success">Agregar a la canasta 2</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height:50px;width:500px;margin:0px auto;">
      <div class="col-6">
        <button (click)="guardar()" class="btn btn-primary formularioRegistro"  >Guardar productos</button>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
